<app-navbar></app-navbar>
<!-- <div *ngFor="let user of users">
    <h2>{{ user.username }}</h2>
    <small><strong>Name: </strong>{{ user.name }}</small><br>
    <small><strong>Email: </strong>{{ user.email }}</small><br>
    <small><strong>Website: </strong>{{ user.website }}</small><br>
</div> -->

<div class="container-fluid">
    <div class="justify-content-center row">
        <div class="pl-3 pt-5" *ngFor="let user of users">
            <br>
            <div class="card border-dark" style="width: 20rem; height: 20rem;">
                <div class="card-header">
                    <h5 class="card-title text-primary">Usuario: {{ user.username }}</h5>
                </div>
                <div class=" card-body ">
                    <p><strong class=" ">Name: </strong>{{user.name}}</p>
                    <p><strong>Email: </strong>{{ user.email }}</p>
                    <p><strong>Phone: </strong>{{ user.phone }}</p>
                    <div class="card-footer bg-transparent border-primary">
                        <p><i>"{{ user.company.catchPhrase }}"</i></p>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>