<table>
    <tr>
        <td>
            <a routerLink="publicPage"> [PublicPage]</a>
        </td>
        <td>
            <a routerLink="restrictedPage" *ngIf="isLoggedIn()"> [RestrictedPage]</a>
        </td>
        <td><button class="btn btn-success" (click)="login()" *ngIf="!isLoggedIn()">SIGN IN</button></td>
        <td><button class="btn btn-success" (click)="logout()" *ngIf="isLoggedIn()">SIGN OUT</button></td>
    </tr>
</table>
<div *ngIf="isLoggedIn()">
    <h3>You are logged in</h3>
</div>
<div *ngIf="!isLoggedIn()">
    <h3>You are NOT logged in</h3>
</div>

<router-outlet></router-outlet>